<% layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validate-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" >Update coordinates from</label>
                <div class="mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="CoordSource" id="flexRadioFromLocation" value="location" checked>
                    <label class="form-check-label" for="flexRadioFromLocation">
                      location
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="CoordSource" id="flexRadioDevice" value="device">
                    <label class="form-check-label" for="flexRadioDevice">
                      your devices
                    </label>
                  </div>
<!--                   <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="CoordSource" id="flexRadioMap" value="map">
                    <label class="form-check-label" for="flexRadioMap">
                      Manual on map (not yet implemented)
                    </label>
                  </div> -->
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="CoordSource" id="flexRadioManual" value="manual">
                    <label class="form-check-label" for="flexRadioManual">
                      manual
                    </label>
                  </div>
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="location">location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location %>" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>

            <div class="mb-3" id="lon">
                
                <label class="form-label" for="longitude">longitude</label>
                <input class="form-control" type="text" id="longitude" name="longitude" value="<%= campground.geometry.coordinates[0] %>" readonly>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            
        </div>
        <div class="mb-3" id="lat">
            <label class="form-label" for="latitude">latitude</label>
            <input class="form-control" type="text" id="latitude" name="latitude" value="<%= campground.geometry.coordinates[1] %>" readonly>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>

            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
            
                <div class="input-group">
                    <span class="input-group-text" id="price">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0" aria-label="price" aria-describedby="price-lable" name="campground[price]"  value="<%= campground.price %>" required>
                </div>

            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required><%=campground.description%></textarea>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Add Images more</label>
                <input type="file" class="form-control" id="formFileMultiple" name="image" multiple>
                <div class="invalid-feedback">
                    This campground would look much better with a picture.
                </div>
            </div>

            <div class="mb-3">
                <% campground.images.forEach(function(img, i) { %>
                    <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                    <% }) %> 
            </div>
       
        
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>

        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
    <form action="/campground/<%= campground._id %>?_method=DELETE" method="POST">
        <button>Delete Campground</button>
    </form>
    
    </div>
    <a href="/campgrounds/<%=campground._id%>">Back to campground</a>

<script>
    const newCampground = false;
</script>
<script src="/javascripts/campgroundDialog.js"></script>
